$width: 80rem;
$height: 100%;
$margin-top: 2rem;
$margin-bottom: 6rem;
$margin-right: 8.5rem;
$margin-left: 5rem;
$color: #00cd46;

.wrapper {
  min-width: 50%;
  max-height: $height;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.container {
  width: 100%;
  margin-bottom: -$margin-bottom;
}

.x-axis {
  font-size: 1.1rem;
}

.y-axis {
  font-size: 1.1rem;
}

.line-path {
  stroke: $color;
  stroke-width: 2px;
  fill: none;
}

.gradient-start {
  stop-color: rgba(66, 205, 0, 0.1);
  stop-opacity: 1;
}

.gradient-stop {
  stop-color: rgba(66, 205, 0, 0);
  stop-opacity: 0;
}

.area-path {
  fill: url(#areaGradient);
}

.focus-box {
  position: relative;
  display: inline;
  padding: 3px 5px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
}

.focus-line {
  stroke-dasharray: 1, 5;
  stroke: black;
}

.focus-circle {
  fill: $color;
  opacity: 0;
  r: 3.5px;
}

.focus-text-value {
  font-size: 0.9rem;
  text-anchor: middle;
  line-height: 1.1rem;
  font-weight: normal;
  opacity: 1;
}

.focus-text-date {
  font-size: 0.9rem;
  fill: #7b7b7b;
  text-anchor: middle;
  font-weight: 300;
  opacity: 1;
}

.pointer-space {
  fill: none;
  pointer-events: all;
  x: -$margin-left;
  y: -$margin-top;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 3rem;
  font-weight: 400;
  color: #cfcfcf;
  border-bottom: transparent 2px solid;

  &:hover {
    color: black;
  }
}

.active {
  color: black;
  border-bottom: black 2px solid;
}

.no-data-found {
  font-size: 3rem;
  text-align: center;
}

@media only screen and (max-width: 660px) {
  .button {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 592px) {
  .button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 525px) {
  .button {
    margin-right: 0.5rem;
  }
}
