$width: 800px;
$height: 400px;
$margin-top: 20px;
$margin-bottom: 50px;
$margin-right: 50px;
$margin-left: 50px;
$color: #00CD46;

.wrapper {
    border: gray .5px solid;
    border-radius: 5px;
    padding: 2.3rem 1.5rem 2em 1.5rem;
    min-width: 50%;
    max-height: 400px;
    margin: .6em;
}

.title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.container {
    width: 100%;
    min-height: $height - $margin-top - $margin-bottom;
}

.chart-body {
    transform: translate($margin-left, $margin-top);
}

.x-axis {
    font-size: 1rem;
}

.y-axis {
    transform: translateX(10px);
    font-size: 1rem;
}

.line-path {
    stroke: $color;
    stroke-width: 2px;
    fill: none;
}

.gradient-start {
    stop-color: rgba(66, 205, 0, 0.1);
    stop-opacity: 1;
}

.gradient-stop {
    stop-color: rgba(66, 205, 0, 0);
    stop-opacity: 0;
}

.area-path {
    fill: url(#areaGradient);
}

.focus-line {
    stroke-dasharray: 1, 5;
    stroke: black;
}

.focus-circle {
    fill: $color;
    opacity: 0;
    r: 3.5px;
}

.focus-text {
    font-size: 1.2rem;
    text-anchor: middle;
    font-weight: 500;
    opacity: 0;
}

.pointer-space {
    fill: none;
    pointer-events: all;
    x: -$margin-left;
    y: -$margin-top;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.7rem;
}

.button {
    cursor: pointer;
    height: 1.5em;
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: .5em;
    color: #CFCFCF;
}

.active {
    color: black;
    border-bottom: black 2px solid;
}

.button:hover {
    color: black;
}

@media only screen and (max-width: 515px) {
    .button {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 460px) {
    .button {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 395px) {
    .title {
        font-size: 1.5rem;
    }
    .button {
        font-size: .8rem;
    }

    .x-axis {
        font-size: .8rem;
    }

    .y-axis {
        font-size: .8rem;
    }
}