.wrapper {
    border: gray .5px solid;
    border-radius: 5px;
    padding: 0 1em 2em 1em;
    min-width: 50%;
    max-height: 400px;
    margin: .6em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.range-button {
    cursor: pointer;
    height: 1.5em;
    font: .9em sans-serif;
    margin-right: .5em;
    color: grey;
}

.active {
    color: black;
    font-weight: bold;
    border-bottom: black 2px solid;
}

.range-button:hover {
    color: black;
    font-weight: bold;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}