@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 2rem;
}

.up {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.down {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.component {
    border: 1px solid #E2E2E2;
    border-radius: .8rem;
    min-height: 100px;
    margin: 0 1.5rem 1.5rem 0;
}

.upper {
    min-width: 22.4%;
}

.bottom {
    min-width: 20%;
}