@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: .5em;
}

.up {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.down {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.component {
    border: gray .5px solid;
    border-radius: 5px;
    min-height: 100px;
    margin: 10px;
}

.upper {
    min-width: 22.4%;
}

.bottom {
    min-width: 20%;
}